@model FilmesCinemasSessoes.Models.Sessao

@{
    ViewBag.Title = "";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir essa sessão ?</h3>
<div>
    <h4>Sessao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cinema
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinema.Nome)
        </dd>

        <dt>
            Filme
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filme.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            <button type="button" class="btn btn-info"> @Html.ActionLink("Voltar", "Index")</button>
        </div>
    }
</div>
